.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 200px;

}

.logo:hover {
    cursor: pointer;
}

.nav-item>ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
}

.nav-item>ul>li {
    padding: 10px;
    margin: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px;
}

.res-card {
    margin: 10px;
    width: 200px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(211, 220, 220);

}

.res-card:hover {
    cursor: pointer;
    border: 3px solid black;
}

.img-logo {
    width: 100%;
}