.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 200px;

}

.logo:hover {
    cursor: pointer;
}

.nav-item>ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
}

.nav-item>ul>li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px;
}

.res-card {
    margin: 10px;
    width: 200px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(211, 220, 220);

}

.res-card:hover {
    cursor: pointer;
    border: 3px solid black;
}

/* .header { */
/* position: fixed;
    background-color: white;
    width: 100%;
    margin: 20x;
    padding: 10px; */
/* } */

.img-logo {
    width: 100%;
}

.Shimmer-cards {
    margin: 20px;
    width: 200px;
    height: 500px;
    background-color: rgb(191, 187, 187);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;

}

.login-btn {
    cursor: pointer;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(244, 194, 44);
    margin: 10px;

}

.login-btn:hover {
    background-color: rgb(255, 192, 143);
    border: 4px solid black;
    width: 110px;

}

.Search {
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.filter-btn {
    cursor: pointer;
}

.filter {
    display: inline-block;
}